<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Diepxuan_Catalog::catalog_categories" title="System Categories" translate="title" module="Diepxuan_Catalog" sortOrder="30" parent="Magento_Catalog::inventory" action="diepxuan/category/" resource="Diepxuan_Catalog::categories"/>
    </menu>
</config>
